@model List<Nota>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Notas</h1>
    <a asp-controller="Home" asp-action="Create" >Agregar Nota</a>
</div>
</br>
@foreach (Nota nota in Model)
{
        <div class="notaTitulo">
            @nota.Titulo
        </div>

        <div class="notaCuerpo">
            @nota.Cuerpo
        </div>
}
  



