<h1>Login</h1>
<form method="POST" asp-action="Login" asp-controller="Home">
    <div class="form-group">
        <label for="email">Email </label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Ingresa email " required>
        <label for="nombre">Nombre </label>
        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresa nombre " required>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </div>
</form>